@media screen and ( max-width:376px)    
    header
         background: url(../../public/images/bg-header-mobile.png)
         background-position: cover
         background-repeat: no-repeat
         padding-top: 20%
         padding-left: 10%
         padding-right: 10%
         #head
            margin-bottom: 20%
            #b
                display: block !important
                button
                    margin-right: 0 !important
                    margin-top: 5%
                    width: 100%
                    padding: 3% 0

                