@media screen and ( max-width:376px)    
    header
         background: url(../../public/images/bg-header-mobile.png)
         background-position: cover
         background-repeat: no-repeat
         padding-top: 20%
         padding-left: 10%
         padding-right: 10%
         #head
            margin-bottom: 20%
            #b
                display: block !important
                button
                    margin-right: 0 !important
                 
    section
        padding: 0 10%

    #hidden
        padding: 0 5%
        text-align: center
        margin-bottom: 30% !important
        img
            position: static
            margin-bottom: 5%
    #device
        img
            box-shadow: 10px 3px 4px 4px 4px black
    #acces
        margin-bottom: 2% !important
    #imgD
        padding-top: 0 !important
    
    #super
        padding: 0 15%
    #flexS
        display: block !important
        ul
            li
                img
                    margin:15% 0 

    #goog
        text-align: center
        margin-bottom: 20% !important
        img
            margin-top: 20%

    #clip
        padding: 0 15%
    
    button
        width: 100%
        padding: 5% 0
    #butt1
        margin-right: 0 !important
        margin-bottom: 5%

    #f
        display: block !important
        text-align: center
        width: 100%
        padding-left: 50%
        #c
            width: 100%
        #log
            width: 100%
            img
                margin-letf: 5%
        #ulF
            padding: auto
            display: block !important
            li
                margin-bottom: 4%
        #ulI
           
    
    #clip 
        #e
            display: block !important
        


@media screen and ( max-width: 1300px )
      #hidden
        padding: 0 5%
        text-align: center
        margin-bottom: 30% !important
        img
            margin-bottom: 5%
    